<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row">
        <div class="col-md-3">
          <select [(ngModel)]="gender" class="form-control">
            <option>Gender</option>
            <option *ngFor="let item of genders">{{item}}</option>
            
          </select>
        </div>
        <div class="col-md-3">
          <select [(ngModel)]="status" class="form-control">
            <option>Status</option>
            <option *ngFor="let item of statuses">{{item}}</option>
            
          </select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="getFilteredData()" type="button">Filter</button>
          </div>
        <div class="col-md-4">
          <div class="form-group" style="width: 100%; margin-left: 70%">
            <input
              type="text"
              value=""
              [(ngModel)]="name"
              placeholder="Search"
              class="form-control"
            />
          </div>
        </div>
        
      </div>
        </div>      
  </nav>
  <div class="row">
    <div *ngFor="let item of data | paginate:{itemsPerPage:20, currentPage:page,totalItems:total} |search:name" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" ngbTooltip={{item.name}}><b>Name: </b>{{item.name|slice:0:12}}</h5>
          
          <p class="card-text"><b>Status: </b>{{item.status}}</p>
          <p class="card-text"><b>Species: </b>{{item.species}}</p>
          <p class="card-text"><b>Gender: </b>{{item.gender}}</p>
          <a [routerLink]="'character/' + item.id" class="btn btn-outline-primary pull-right">Details</a>
        </div>
      </div>
      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
  </div>

  