<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
          <select [(ngModel)]="gender">
            <option>Male</option>
            <option>Female</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <div class="col-md-8">
        <div class="form-group" style="width: 30%; margin-left: 70%">
          <input
            type="text"
            value=""
            [(ngModel)]="searchString"
            placeholder="Arama"
            class="form-control"
          />
        </div>
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="filterData(gender)" type="button">Search</button>
    </div>
  </nav>
  <div class="row">
    <div *ngFor="let item of data | paginate:{itemsPerPage:20, currentPage:page,totalItems:total} | search:searchString" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" ngbTooltip={{item.name}}><b>Name: </b>{{item.name|slice:0:12}}</h5>
          <p class="card-text"><b>Gender: </b>{{item.gender}}</p>
          <p class="card-text"><b>Status: </b>{{item.status}}</p>
          <a href="#" class="btn btn-outline-primary pull-right">Details</a>
        </div>
      </div>
      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
  </div>

  